/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    box-sizing: border-box;
}

/* Form Styles */
.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: 600;
}

.input,
.textarea,
.select {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.input:focus,
.textarea:focus,
.select:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}

.textarea {
    min-height: 120px;
    resize: vertical;
}

.select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23777" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 24px 24px;
    background-color: #fff;
}

/* Button Styles */
.button {
    background-color: #007BFF;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    position: relative;
    font-size: 16px;
    font-weight: 500;
}

.button:hover {
    background-color: #0056b3;
}

.button:disabled {
    background-color: #999999;
    cursor: not-allowed;
    transform: none;
}

/* Progress Bar Styles */
.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    height: 30px;
    margin: 20px 0;
    display: none;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #007BFF;
    border-radius: 25px 0 0 25px;
    transition: width 0.4s ease, background-color 0.4s ease;
}

#progressBarMessage {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-weight: 500;
}

/* Failed Emails List Styles */
#failedEmailsWrapper {
    display: none;
    margin-top: 20px;
}

#failedEmailsList {
    margin-top: 10px;
    padding-left: 20px;
}

/* Alert Styles */
#alert {
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}

/* ... previous styles ... */

.button-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.button-secondary {
    background-color: #6c757d;
}

.button-secondary:hover {
    background-color: #5a6268;
}

.clear-button {
    background-color: transparent;
    border: none;
    color: #007BFF;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
}

.clear-button:hover {
    text-decoration: underline;
}